# Kernel compile workflow for personal usage
# By Sarthak Roy (sarthakroy2002@gmail.com)

name: Kernel CI

on:
  workflow_dispatch:
    inputs:
      repo:
          description: 'Kernel source link'
          required: true
      branch:
          description: 'Kernel source branch'
          required: true   

env:
  TZ: Asia/Kolkata
  REPO: ${{ github.event.inputs.repo }}
  BRANCH: ${{ github.event.inputs.branch }}

jobs:
  kernel-build:
    runs-on: ubuntu-latest

    steps:
      - name: Cleanup Space
        uses: rokibhasansagar/slimhub_actions@main 

      - name: Initializing environment
        run: |
          git config --global user.name "sarthakroy2002"
          git config --global user.email "sarthakroy2002@gmail.com"
          sudo apt update
          sudo apt install -y bc bison build-essential ccache curl flex g++-multilib gcc-multilib git gnupg gperf imagemagick lib32ncurses5-dev lib32readline-dev lib32z1-dev liblz4-tool libncurses5 libncurses5-dev libsdl1.2-dev libssl-dev libwxgtk3.0-gtk3-dev libxml2 libxml2-utils lzop pngcrush rsync schedtool squashfs-tools xsltproc zip zlib1g-dev python tmate ssh          

      - name: Lets compile
        run: |
          git clone $REPO -b $BRANCH kernel 
          cd kernel
          bash build.sh
